<launch>

    <!-- radar driver -->
    <node name="radar_ros_driver" pkg="radar_ros_driver" type="radar_ros_driver" output="screen" />
    <!-- radar server -->
    <node name="radar_server" pkg="radar_server" type="radar_server"></node>
    <node pkg="msp_fc_interface" type="msp_fc_interface" name="msp_fc_interface" output="screen" />
    
</launch>
